<template>
  <div>
    <div>
      <v-text-field
        clearable
        v-model="filterFirstName"
        outlined
        placeholder="Enter Name"
        max-width="600px"
        @input="filterCustomerByFirstName"
      ></v-text-field>
    </div>

    <div>
      <v-row class="font-weight-bold title">
        <v-col cols="2" xs="2" sm="2" md="3" lg="3">First Name</v-col>
        <v-col cols="3" xs="2" sm="2" md="3" lg="3">Last Name</v-col>
        <v-col cols="7" xs="8" sm="6" md="3" lg="3">Email</v-col>
        <v-col cols="12" xs="12" sm="2" md="3" lg="3"></v-col>
      </v-row>
    </div>
    <v-divider></v-divider>
    <div v-for="customer in customersData.customers" :key="customer.id">
      <v-row class="py-2">
        <v-col cols="2" xs="2" sm="2" md="3" lg="3">
          {{ customer.firstName }}
        </v-col>
        <v-col cols="3" xs="2" sm="2" md="3" lg="3">
          {{ customer.lastName }}
        </v-col>
        <v-col cols="7" xs="8" sm="6" md="3" lg="3">{{ customer.Email }}</v-col>
        <v-col cols="12" xs="12" sm="2" md="3" lg="3">
          <router-link
            :to="{ name: 'CustomerDetails', params: { id: customer.id } }"
          >
            view_details
          </router-link>
          <span class="ml-5"> <MenuActions :id="customer.id"/></span>
        </v-col>
      </v-row>
      <v-divider></v-divider>
    </div>
  </div>
</template>

<script>
import MenuActions from "./MenuActions.vue";
import { mapActions, mapState } from "vuex";
export default {
  components: {
    MenuActions,
  },
  data() {
    return {
      filterFirstName: "",
    };
  },
  created() {
    this.loadCustomersData({ perPage: 8, page: this.page });
  },

  methods: {
    ...mapActions(["loadCustomersData", "filterCustomer"]),
    filterCustomerByFirstName() {
      var filterFirstNameLowerCase = this.filterFirstName.toLowerCase();
      this.filterCustomer(filterFirstNameLowerCase);
    },
  },
  computed: {
    ...mapState(["customersData"]),
    page() {
      return parseInt(this.$route.query.page) || 1;
    },
  },
};
</script>

<style lang="scss" scoped>
a {
  text-decoration: none;
}
</style>
