<template>
  <div class="my-15">
    <v-container>
      <router-link to="/">backtoHomePage</router-link>
      <h1 class="mb-2 mt-5 font-weight-bold display-1 ">
        {{ customersData.customerByIdFullName }}
      </h1>

      <v-divider></v-divider>
      <div>
        <ul>
          <li>
            <v-icon>mdi-phone</v-icon>
            <span>{{ customersData.customerById.Phone }}</span>
          </li>
          <li>
            <v-icon>mdi-email</v-icon>
            <span> {{ customersData.customerById.Email }}</span>
          </li>
        </ul>
        <ul>
          <li>
            <v-icon>mdi-home-map-marker</v-icon>
            <span>{{ customersData.customerById.Address }}</span>
          </li>
          <li>
            <v-icon>mdi-city</v-icon>
            <span>{{ customersData.customerById.City }}</span>
          </li>
          <li>
            <v-icon>mdi-home-city</v-icon>
            <span>{{ customersData.customerById.State }}</span>
          </li>
        </ul>
      </div>
    </v-container>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  props: ["id"],
  created() {
    this.getCustomerById(this.id);
  },
  methods: {
    ...mapActions(["getCustomerById"]),
  },
  computed: {
    ...mapState(["customersData"]),
  },
};
</script>

<style lang="scss" scoped>
li {
  list-style-type: none;
  width: 100%;
  border: 1px solid rgb(211, 205, 205);
  border-radius: 2px;
  margin: 0px;
  height: 60px;
  vertical-align: center;
  padding: 16px 10px;
}
ul {
  width: 100%;
  margin: 20px 0;
  padding: 0;
}
ul li span {
  margin-left: 10px;
}
a {
  text-decoration: none;
  margin-bottom: 10px;
}
</style>
