<template>
  <div class="ma-0">
    <v-dialog v-model="dialog" width="500">
      <template v-slot:activator="{ on, attrs }">
        <div v-bind="attrs" v-on="on" class=" pa-4">
          <v-icon>mdi-lead-pencil</v-icon>
          <span class="ml-8">Edit</span>
        </div>
      </template>
      <v-card>
        <v-card-title class="headline grey lighten-2">
          Edit Customer
        </v-card-title>

        <v-card-text>
          <v-form>
            <!-- Customers Information-->
            <v-container fluid class="grey lighten-3 my-5">
              <v-row class="ma-3">
                <h2 class="headline">Customer Info</h2>
              </v-row>
              <v-row class="ma-3">
                <h3 class="title ">First Name</h3>
              </v-row>
              <v-row class="ma-3">
                <v-text-field
                  v-model="firstName"
                  label="First Name"
                  outlined
                  clearable
                  append-icon="mdi-plus"
                  background-color="white darken-2"
                >
                </v-text-field>
              </v-row>

              <v-row class="ma-3">
                <h3 class="title ">Last Name</h3>
              </v-row>
              <v-row class="ma-3">
                <v-text-field
                  v-model="lastName"
                  label="Last Name"
                  outlined
                  clearable
                  append-icon="mdi-plus"
                  background-color="white darken-2"
                >
                </v-text-field>
              </v-row>
            </v-container>
            <!-- Customers Contact  -->
            <v-container fluid class="grey lighten-3 my-5">
              <v-row class="ma-3">
                <h2 class="headline">Customer Contact</h2>
              </v-row>
              <v-row class="ma-3">
                <h3 class="title ">Email</h3>
              </v-row>
              <v-row class="ma-3">
                <v-text-field
                  v-model="Email"
                  label="Email"
                  outlined
                  clearable
                  append-icon="mdi-plus"
                  background-color="white darken-2"
                >
                </v-text-field>
              </v-row>

              <v-row class="ma-3">
                <h3 class="title ">Phone</h3>
              </v-row>
              <v-row class="ma-3">
                <v-text-field
                  v-model="Phone"
                  label="Phone"
                  outlined
                  clearable
                  append-icon="mdi-plus"
                  background-color="white darken-2"
                >
                </v-text-field>
              </v-row>
            </v-container>
            <!-- Customers Location  -->
            <v-container fluid class="grey lighten-3 my-5">
              <v-row class="ma-3">
                <h2 class="headline">Customer Location</h2>
              </v-row>
              <v-row class="ma-3">
                <h3 class="title ">Address</h3>
              </v-row>
              <v-row class="ma-3">
                <v-text-field
                  v-model="Address"
                  label="Address"
                  outlined
                  clearable
                  append-icon="mdi-plus"
                  background-color="white darken-2"
                >
                </v-text-field>
              </v-row>

              <v-row class="ma-3">
                <h3 class="title ">City</h3>
              </v-row>
              <v-row class="ma-3">
                <v-text-field
                  v-model="City"
                  label="City"
                  outlined
                  clearable
                  append-icon="mdi-plus"
                  background-color="white darken-2"
                >
                </v-text-field>
              </v-row>
              <v-row class="ma-3">
                <h3 class="title ">State</h3>
              </v-row>
              <v-row class="ma-3">
                <v-text-field
                  v-model="State"
                  label="State"
                  outlined
                  clearable
                  append-icon="mdi-plus"
                  background-color="white darken-2"
                >
                </v-text-field>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="editCustomer(id)">
            Submit
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  props: ["id"],
  data() {
    return {
      dialog: false,
      firstName: "",
      lastName: "",
      Email: "",
      Phone: "",
      Address: "",
      City: "",
      State: "",
    };
  },
  methods: {
    ...mapActions(["editSeletedCustomer", "showSnackbarwhenEdited"]),
    editCustomer(id) {
      if (
        this.firstName === "" ||
        this.lastName === "" ||
        this.Email === "" ||
        this.Phone === "" ||
        this.Address === ""
      ) {
        alert("please fill enough information for edit Customer information ");
      } else {
        const newEditedCustomer = {
          id: id,
          firstName: this.firstName,
          lastName: this.lastName,
          Email: this.Email,
          Phone: this.Phone,
          Address: this.Address,
          City: this.City,
          State: this.State,
        };
        this.editSeletedCustomer({ id, newEditedCustomer });
        this.dialog = false;
        this.firstName = "";
        this.lastName = "";
        this.Email = "";
        this.Phone = "";
        this.Address = "";
        this.City = "";
        this.State = "";
        this.showSnackbarwhenEdited();
      }
    },
  },
};
</script>

<style lang="scss" scoped></style>
