<template>
  <div style="display: inline-block">
    <v-menu offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-btn color="white" dark v-bind="attrs" v-on="on">
          <v-icon color="black">mdi-dots-vertical</v-icon>
        </v-btn>
      </template>
      <v-list>
        <EditCustomer :id="id" />
        <v-divider></v-divider>
        <v-list-item @click="deleteSelectedCustomer(id)">
          <v-list-item-icon>
            <v-icon>mdi-delete</v-icon>
          </v-list-item-icon>
          <v-list-item-title>
            Delete
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import EditCustomer from "./EditCustomer.vue";
export default {
  props: ["id"],
  components: {
    EditCustomer,
  },
  methods: {
    ...mapActions(["deleteCustomer", "showSnackbarWhenDelete"]),
    deleteSelectedCustomer(id) {
      this.deleteCustomer(id);
      this.showSnackbarWhenDelete();
    },
  },
};
</script>

<style lang="scss" scoped></style>
