<template>
  <div class="mt-5">
    <span v-show="currentPage != 1">
      <router-link :to="{ name: 'Home', query: { page: currentPage - 1 } }">
        Previous Page
      </router-link>
    </span>
    <span v-show="currentPage <= Math.floor(customersData.totalCustomers / 8)">
      <router-link :to="{ name: 'Home', query: { page: currentPage + 1 } }">
        Next Page
      </router-link>
    </span>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  computed: {
    ...mapState(["customersData"]),
    currentPage() {
      return parseInt(this.$route.query.page) || 1;
    },
  },
};
</script>

<style lang="scss" scoped>
a {
  color: rgb(145, 145, 218);
}
span {
  margin: 3px;
}
</style>
