<template>
  <div class="title">
    <v-icon class="mr-2 ">mdi-alarm</v-icon>
    <span>{{ timeNow }}</span>
  </div>
</template>

<script>
export default {
  data() {
    return {
      timeNow: "",
    };
  },
  created() {
    setInterval(this.getNow, 1000);
  },
  methods: {
    getNow() {
      const today = new Date();
      const formatDate = new Date(today).toDateString();
      //add number 0 if hour , min and Seconds < 10
      var hour = today.getHours();
      if (hour < 10) {
        hour = "0" + hour;
      }
      var min = today.getMinutes();
      if (min < 10) {
        min = "0" + min;
      }
      var seconds = today.getSeconds();
      if (seconds < 10) {
        seconds = "0" + seconds;
      }
      const time = hour + ":" + min + ":" + seconds;
      const dateTime = formatDate + " , " + time;
      this.timeNow = dateTime;
    },
  },
};
</script>

<style lang="scss" scoped></style>
