<template>
  <div id="snackbar" class="mb-5">
    <v-snackbar top v-model="showSnackbar.snackbarDisplay">
      {{ showSnackbar.snackbarTitle }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="white"
          text
          v-bind="attrs"
          @click="showSnackbar.snackbarDisplay = false"
        >
          <v-icon>mdi-close-box-outline</v-icon>
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "snackbar",
  data() {
    return {};
  },
  computed: {
    ...mapState(["showSnackbar"]),
  },
};
</script>

<style lang="scss" scoped></style>
