<template>
  <div id="addCustomer">
    <v-dialog v-model="dialog" width="800">
      <template v-slot:activator="{ on, attrs }">
        <v-btn class="body-2 ml-5" v-bind="attrs" v-on="on">
          Add Customer
        </v-btn>
      </template>
      <v-card>
        <v-card-title class="headline grey lighten-2">
          Add Customer
        </v-card-title>

        <v-card-text>
          <v-form>
            <!-- Customers Information-->
            <v-container fluid class="grey lighten-3 my-5">
              <v-row class="ma-3">
                <h2 class="headline">Customer Info</h2>
              </v-row>
              <v-row class="ma-3">
                <h3 class="title ">First Name</h3>
              </v-row>
              <v-row class="ma-3">
                <v-text-field
                  v-model="firstName"
                  label="First Name"
                  outlined
                  clearable
                  append-icon="mdi-plus"
                  background-color="white darken-2"
                >
                </v-text-field>
              </v-row>

              <v-row class="ma-3">
                <h3 class="title ">Last Name</h3>
              </v-row>
              <v-row class="ma-3">
                <v-text-field
                  v-model="lastName"
                  label="Last Name"
                  outlined
                  clearable
                  append-icon="mdi-plus"
                  background-color="white darken-2"
                >
                </v-text-field>
              </v-row>
            </v-container>
            <!-- Customers Contact  -->
            <v-container fluid class="grey lighten-3 my-5">
              <v-row class="ma-3">
                <h2 class="headline">Customer Contact</h2>
              </v-row>
              <v-row class="ma-3">
                <h3 class="title ">Email</h3>
              </v-row>
              <v-row class="ma-3">
                <v-text-field
                  v-model="Email"
                  label="Email"
                  outlined
                  clearable
                  append-icon="mdi-plus"
                  background-color="white darken-2"
                >
                </v-text-field>
              </v-row>

              <v-row class="ma-3">
                <h3 class="title ">Phone</h3>
              </v-row>
              <v-row class="ma-3">
                <v-text-field
                  v-model="Phone"
                  label="Phone"
                  outlined
                  clearable
                  append-icon="mdi-plus"
                  background-color="white darken-2"
                >
                </v-text-field>
              </v-row>
            </v-container>
            <!-- Customers Location  -->
            <v-container fluid class="grey lighten-3 my-5">
              <v-row class="ma-3">
                <h2 class="headline">Customer Location</h2>
              </v-row>
              <v-row class="ma-3">
                <h3 class="title ">Address</h3>
              </v-row>
              <v-row class="ma-3">
                <v-text-field
                  v-model="Address"
                  label="Address"
                  outlined
                  clearable
                  append-icon="mdi-plus"
                  background-color="white darken-2"
                >
                </v-text-field>
              </v-row>

              <v-row class="ma-3">
                <h3 class="title ">City</h3>
              </v-row>
              <v-row class="ma-3">
                <v-text-field
                  v-model="City"
                  label="City"
                  outlined
                  clearable
                  append-icon="mdi-plus"
                  background-color="white darken-2"
                >
                </v-text-field>
              </v-row>
              <v-row class="ma-3">
                <h3 class="title ">State</h3>
              </v-row>
              <v-row class="ma-3">
                <v-text-field
                  v-model="State"
                  label="State"
                  outlined
                  clearable
                  append-icon="mdi-plus"
                  background-color="white darken-2"
                >
                </v-text-field>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="addCustomer">
            Submit
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "addCustomer",
  data() {
    return {
      dialog: false,
      firstName: "",
      lastName: "",
      Email: "",
      Phone: "",
      Address: "",
      City: "",
      State: "",
    };
  },
  methods: {
    ...mapActions(["addNewCustomer", "showSnackbarWhenCustomerAdded"]),
    addCustomer() {
      if (
        this.firstName === "" ||
        this.lastName === "" ||
        this.Email === "" ||
        this.Phone === "" ||
        this.Address === ""
      ) {
        alert(
          "You has give not enough information. Please fill out again , thank you!"
        );
      } else {
        const id = Math.floor(Math.random() * 1000);
        if (id > 6) {
          const newCustomer = {
            id: id,
            firstName: this.firstName,
            lastName: this.lastName,
            Email: this.Email,
            Phone: this.Phone,
            Address: this.Address,
            City: this.City,
            State: this.State,
          };
          this.addNewCustomer(newCustomer);
          this.showSnackbarWhenCustomerAdded();
          this.dialog = false;
          this.firstName = "";
          this.lastName = "";
          this.Email = "";
          this.Phone = "";
          this.Address = "";
          this.City = "";
          this.State = "";
        }
      }
    },
  },
};
</script>

<style lang="scss" scoped></style>
