<template>
  <v-app-bar
    app
    class="grey lighten-2"
    :height="$vuetify.breakpoint.xs ? '85px' : '70px'"
    flat
  >
    <v-container fluid>
      <v-row>
        <v-col cols="6" xs="6" sm="5" md="4" lg="4">
          <router-link to="/" class="title ms-5 black--text">
            vCustomers
          </router-link>

          <div style="display: inline-block">
            <router-link class="subtitle-1 ms-5 black--text" to="/">
              Home
            </router-link>
            <router-link class="subtitle-1 ms-5 black--text" to="/about">
              About
            </router-link>
          </div>
        </v-col>
        <v-spacer></v-spacer>
        <v-col cols="6" xs="6" sm="4" md="2" lg="2">
          <AddCustomer />
        </v-col>
      </v-row>
    </v-container>
  </v-app-bar>
</template>

<script>
import AddCustomer from "./headerComponents/AddCustomer.vue";
export default {
  components: {
    AddCustomer,
  },
};
</script>

<style scoped>
a {
  text-decoration: none;
  color: grey;
}
</style>
