<template>
  <div class="about">
    <v-container fluid class="pa-15">
      <h1>About Us</h1>
      <p>This is Customer Manager App version 01.Please try it!</p>
    </v-container>
  </div>
</template>
