<template>
  <div class="home">
    <v-container fluid class="pa-15 blue-grey--text">
      <Snackbar />
      <v-row class="mb-2">
        <h1 class="ml-3">Manage Customers</h1>
        <v-spacer>
          <Pagination style="float:right" />
        </v-spacer>
      </v-row>
      <ShowTimeNow class="mb-2" />
      <CustomersData />
    </v-container>
  </div>
</template>

<script>
import ShowTimeNow from "../components/homeComponents/ShowTimeNow.vue";
import CustomersData from "../components/homeComponents/CustomersData.vue";
import Snackbar from "../components/homeComponents/Snackbar.vue";
import Pagination from "../components/homeComponents/Pagination.vue";
export default {
  name: "Home",
  components: {
    ShowTimeNow,
    CustomersData,
    Snackbar,
    Pagination,
  },
};
</script>
